h1 {
    font-size: 64px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}
html {
    text-align: center;
    background-image: linear-gradient(to right, #ffc107, #ff9800);
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to right, #ffc107, #ff9800);

}
