.heading {
    text-align: center;
    font-size: 52px;
    margin-top: 0;
    padding: 16px;
}
.sub-heading {
    font-size: 48px;
}
.para {
    font-size: 32px;
    text-align: justify;
    padding: 16px;
}
li {
    font-size: 32px;
}

.img {
    width: fit-content;
    margin: 0 auto;
}
html{
    background-image: linear-gradient(to right, #ffe0b2, #c2793b);
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to right, #ffe0b2, #c2793b);

}